body {
    background-color: black;
}

#paletteBox {
    margin: 10px 0;
    display: flex;
}

#paletteBox div {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
    background-color: white;
    padding: 8px;
}

#desk {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-320px) translateY(-200px) scale(2.0);
}

#drawingCanvas,
#previewCanvas {
    position: absolute;
    top:0; left:0;
    display: block;
    margin-bottom: 10px;
}

#drawingCanvas {
    background-color: white;
}

#toolBox, #paletteBox {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#paletteBox {
    bottom: auto;
    top: 10px;
}

button {
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
}

#outputPanel {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 160px;
    height: 300px;
    overflow-y: scroll;
    font-size: 11px;
    border-radius: 5px;
    background-color: #333;
    color: #aaa;
    border: none;
}