body {font-family: monospace;
max-width: 700px;padding:0 3% 0 2%;margin: 0 auto;
background:#222; color:#f1f1f1;}
header,main,footer {display:block;display: block;border: 4px solid #f1f1f1;padding: 1em 2em;margin: 1em auto;}
h1,h2,h3,h4,h5,h6 {color:#f1f1f1; border:2px solid #f1f1f1; text-align:center;}
img {max-width:640px; margin:0 auto;}
a {color:#f1f1f1; text-decoration: underline;}
pre {background-color:black;color:white;font-size:0.7em;padding:2% 4%;}
