body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 640px;
    padding-left: 2%;
    padding-right: 3%;
    margin: 0 auto;
    background: #F5F5F0;
    color: #444;
}
h1,h2,h3,h4,h5,h6 { color: #222;}
img {max-width:640px;}
a {background-color:black; color:white; padding:0.5em 1em; line-height: 2.5em;}
a:hover {background-color: white; color:black;}