@font-face {
    font-family: 'DepartureMono';
    src: url('DepartureMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Departure Mono','Hack','Droid Sans Mono', 'monospace', monospace;
    max-width: 640px;
    padding-left: 2%;
    padding-right: 3%;
    margin: 0 auto 2em auto;
    background: black url('img/hack-bg.jpg') no-repeat center top fixed;
    color: white;
}
h1,h2,h3,h4,h5,h6 { color: yellow;}
img {max-width:640px;  image-rendering: pixelated;}
a {background-color:black; color:yellow; padding:0.25em 0.5em; line-height: 2.5em;}
a:hover {background-color: yellow; color:black;}
header {text-align:center;}
footer {text-align:right;}